<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
    <p>hello world</p>
    <div class="container">
      <div id="title-box">Movies</div>
      <div id="movie-box">
        <a href="https://www.imdb.com/title/tt0816692/"><div class="card p-3 mt-3 movie">Interstellar</div></a>
        <a href="https://www.imdb.com/title/tt1156398/"><div class="card p-3 mt-3 movie">Zombieland</div></a>
        <a href="https://www.imdb.com/title/tt0460681/"><div class="card p-3 mt-3 movie">Supernatural</div></a>
      </div>
    </div>

  </body>
</html>